/** 404 page */
.custom-bg {
    background: linear-gradient(to right, #e2e8f0, #e5e7eb);
}
.custom-btn:hover {
    background-color: #f3e8ff !important;
    transition: background-color 0.3s ease-in-out;
}
@media (prefers-color-scheme: dark) {
    .custom-bg {
        background: linear-gradient(to right, #80aceb, #86a7f0);
        color: white !important;
    }

    .custom-btn {
        background-color: #0f4fb6 !important;
        color: white !important;
    }

    .custom-btn:hover {
        background-color: #4b5563 !important;
    }
}
/** 404 page end */